/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
background: rgb(128, 167, 4);
}
.color-2 {
background: rgb(241, 204, 5);
}
.color-3 {
background: rgb(146, 145, 160);
}
/* Textures or Patterns*/

.pattern-1 {
background-image: url(..//img/Lavender+bees+pattern+wr+2.jpg)
}

.pattern-2 {
    background-image: url(..//img/f3a2-vector-watercolor-pattern-floral-texture-hand-drawn-flowers-plants-floral-ornament-original-floral-background-49598911.jpg);
}

.pattern-3 {
    background-image: url(http://images.nationalgeographic.com/wpf/media-live/photos/000/093/cache/white-birch-trees_9392_990x742.jpg);
        background-size: contain
}
/* Imagery */

.imagery-1 {
background: url(..//img/Lavender.jpg);
    background-size: contain;
}

.imagery-2 {
background: url(..//img/lemons%20and%20lavender.jpg);
    background-size: contain;
}

imagery-3 {
background-image: url(http://images.nationalgeographic.com/wpf/media-live/photos/000/093/cache/white-birch-trees_9392_990x742.jpg);
    background-size: contain;
}

/* Navigation */
 nav ul {
  margin-top: 0px;
}
nav li {
  
  list-style: none;
float: left;
    background:rgb(146, 145, 160);
}

nav a:focus,
nav a:active,
nav a:hover {
  background: rgb(128, 167, 4);
  color: background: rgb(241, 204, 5);
   padding-top: 32px;
}


/* Icons */


/* Typography */
body {
font-family: 'Arapey', serif;

} 

p {
font-family: 'PT Sans', sans-serif;
}
/* Forms */


/* Tables */


/* Cards */